import * as React from "react";
import { Link } from "react-router-dom";

const <%= component.upperCamel  %>Presentation = () => (
    <div>
        <h2><%= component.upperCamel  %></h2>
        <div>
            <%= component.upperCamel  %> works!
        </div>
    </div>
);

export default <%= component.upperCamel  %>Presentation;